
<header class="py-5 bg-image-full-2">
  <!-- Content section-->
<section class="py-4">

  <div class="container my-1">
    <h1 class="text-center homepage-title" style="margin-bottom: 30px;">Applicazione IoT</h1>
      <div class="row justify-content-center">

        <div class="col-lg-6">
              <h2>Struttura del sito web</h2>
              <p class="lead">
                Tramite il menù è possibile:
              </p>
              <p class="lead">
                <ul>
                  <li><p class="lead">Visualizzare gli eventi in tempo reale (sezione <strong>Real-Time)</strong></p></li>
                  <li><p class="lead">Visualizzare lo storico degli eventi avvenuti (sezione <strong>Archivio)</strong></p></li>
                </ul>
          </div>
      </div>
  </div>
</section>

<section class="py-4">
  <div class="container my-3">

    <div class="container px-4 text-center">
      <a class="btn btn-lg btn-primary " href="#tecnology" >Tecnologie utilizzate</a>
  </div>
  <div class="container px-4 text-center" style="margin-top: 20px;">
    <a class="btn btn-lg btn-primary" style="width: 216px;"href="#contatti">Contatti</a>
  </div>


  </div>
</section>

</header>

<div class="py-5 bg-image-full" id="tecnology">
  <div class="text-center my-5">
      <img class="img-fluid rounded-circle mb-4" src="assets/images/Background_color.png" alt="..." />
      <h1 class=" fs-3 fw-bolder" style="color:#f0f2f5">Tecnologie utilizzate</h1>
  </div>
</div>





