
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Imposta l'altezza dell'homepage */
  margin: 0 auto 10vh auto;
}

.center-image {
  max-width: 85%; /* L'immagine si adatta al suo contenitore */
  max-height: 85%; /* L'immagine si adatta al suo contenitore */
  // animation: rotation 20s infinite linear;
  transform: rotate(30deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-title{
  font-size: 32px; /* Adjust the font size to your preference */
  font-weight: bold; /* Set the font weight to bold */
  letter-spacing: 2px; /* Add letter spacing for a spaced-out effect */
  color: #000; /* Set the text color */
  text-align: center; /* Align the title to the center */
  margin-top: 20px; /* Add top margin for spacing */
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/*
header h1 {
  font-size: 70px;

  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
*/
