
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a  class="navbar-brand" href="#">Logo?</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
          <a  class="nav-link" routerLink="lastEvents">Real-Time</a>
          <a  class="nav-link" routerLink="event" >Archivio</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
    <div class="footer">
      <ul class="list">
        <li>
          <a href="mailto:s1104180@studenti.univpm.it">Burini Lisa</a>
        </li>
        <li>
          <a href="mailto:s1102858@studenti.univpm.it">Di Gaetano Anna</a>
        </li>
        <li>
          <a href="mailto:s1103343@studenti.univpm.it">Ferretti Matteo</a>
        </li>
        <li>
          <a href="mailto:s1107310@studenti.univpm.it">Leli Samuele</a>
        </li>
      </ul>
        <div class="text-center p-4 bg-light">
          &copy; 2023 Università Politecnica delle Marche
      </div>
    </div>





