.home-container {
  max-width: 1100px;
  margin: 0 auto;
  height: 55vh;
  position: relative;
}

.nav-item.active .nav-link {
  background-color: #f8f9fa; /* Add your desired background color for the active link */
  color: #333; /* Add your desired text color for the active link */
  /* Add any other styles you want for the active link */
}

h6 {
  font-size: large;
}


.navbar-nav>.active>a {
  background-color: transparent;
}
