[Unit]
Description=Servizio che si sottoscrive ai topic e che inserisce i dati nel database​
After=network.target

[Service]
ExecStart=/usr/bin/python3.8 /etc/init.d/Client_db.py
WorkingDirectory=/etc/init.d
Restart=always

[Install]
WantedBy=multi-user.target
